<template>
  <div class="articleform">
    <div class="articleform__close" v-on:click="hideArticleForm" aria-label="fermer"></div>
    <h2 v-if="!updateArticleId" class="articleform__title">Nouvel article</h2>
    <h2 v-else class="articleform__title">Modification de l'article</h2>
    <div class="articleform__form">
      <div class="articleform__form__title">
        <label for="title" class="articleform__form__title__label"
          >Titre de l'article</label
        >
        <input
          type="text"
          v-model="title"
          class="articleform__form__title__input"
          id="title"
          maxlength="255"
          aria-label="titre de l'article"
        />
      </div>
      <div class="articleform__form__file">
        <label class="articleform__form__file__label">Image</label>
        <input
          class="articleform__form__file__input"
          type="file"
          id="file"
          ref="file"
          accept=".png, .jpeg, .jpg"
          @change="handleFileUpload"
          aria-label="image de l'article"
        />
      </div>
      <div
        :key="previewImage"
        class="articleform__form__imagePreview"
        :style="{ 'background-image': `url(${previewImage})` }"
      ></div>
    </div>
    <div
      v-if="createButtonEnabled || !newArticle"
      class="articleform__form__send button"
      v-on:click="submitArticle()"
      aria-label="Envoyer"
    >
      {{ buttonTitle }}
    </div>
    <div v-else class="articleform__form__send button__disabled">
      {{ buttonTitle }}
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vuex from "vuex";
import store from "./CurrentUserStore";
export default {
  store: store,
  name: "ArticleForm",
  data() {
    return {
      file: null,
      title: "",
      previewImage: null,
    };
  },
  computed: {
    ...Vuex.mapGetters([
      "token",
      "isConnected",
      "headers_api",
      "userid",
      "updateArticleId",
      "newArticle",
      "serverUrl"
    ]),
    createButtonEnabled: function () {
      return this.title.length > 0 && this.file !== null;
    },

    buttonTitle: function () {
      return this.newArticle ? "Créer" : "Modifier";
    },
  },
  methods: {
    ...Vuex.mapActions(["hideArticleForm"]),
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
      let reader = new FileReader();
      reader.onload = (e) => {
        this.previewImage = e.target.result;
      };
      reader.readAsDataURL(this.file);
    },
    refreshParent() {
      this.hideArticleForm();
      this.$emit("article-event", { message: "articles changed" });
    },
    submitArticle() {
      const params = new FormData();
      params.append("title", this.title);
      // si nouvel article ou si modification de l'image sur modification
      if (this.newArticle || (!this.newArticle && this.file !== null)) {
        params.append("image", this.file);
      }
      if (this.newArticle) {
        axios
          .post(`${this.serverUrl}articles`, params, this.headers_api)
          .then(() => {
            this.refreshParent();
          })
          .catch((err) => {
            console.log(err);
          });
      } else {
        axios
          .put(`${this.serverUrl}articles/${this.updateArticleId}`, params, this.headers_api)
          .then(() => {
            this.refreshParent();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    populate() {
      if (!this.newArticle) {
        axios
          .get(`${this.serverUrl}articles/${this.updateArticleId}`)
          .then((response) => {
            this.title = response.data[0].title;
            this.previewImage = response.data[0].imageUrl;
          });
      }
    },
  },
  created() {
    this.populate();
  },
};
</script>

<style>
</style>