<template>
  <article class="card" :id="id">
    <h2 class="card__title">{{ title }}</h2>
    <h3 class="card__author"><User :id="ownerid" /></h3>
    <div class="card__image">
      <img :src="imageUrl" class="card__image__img" :alt="altImage" />
    </div>
    <div class="card__buttons">
      <div class="card__buttons__social" :id="buttonsId">
        <div
          v-if="isConnected && !userlike"
          class="card__buttons__social__like"
          v-on:click="like"
          aria-label="aimer cet article"
        >
          <div class="card__buttons__social__like__icon"></div>
          <div class="card__buttons__social__like__count">{{ countLike }}</div>
        </div>
        <div
          v-if="isConnected && userlike"
          class="card__buttons__social__liked"
          v-on:click="unlike"
          aria-label="ne plus aimer cet article"
        >
          <div class="card__buttons__social__liked__icon"></div>
          <div class="card__buttons__social__liked__count">{{ countLike }}</div>
        </div>
        <div v-if="!isConnected" class="card__buttons__social__like__disabled">
          <div class="card__buttons__social__like__disabled__icon"></div>
          <div class="card__buttons__social__like__disabled__count">
            {{ countLike }}
          </div>
        </div>
        <div
          class="card__buttons__social__comment"
          v-on:click="showCommentsForm(id)"
          aria-label="commenter cet article"
        >
          <div class="card__buttons__comment__icon"></div>
          <div v-if="commentCount < 2" class="card__buttons__comment__text">
            {{ commentCount }} Commentaire
          </div>
          <div v-else class="card__buttons__comment__text">
            {{ commentCount }} Commentaires
          </div>
        </div>
      </div>
      <div class="card__buttons__action">
        <div
          v-if="userid === ownerid || isAdmin"
          class="card__buttons__action__change"
          v-on:click="showArticleForm(id)"
        >
          <div class="card__buttons__action__change__icon"></div>
        </div>
        <div
          v-if="userid === ownerid || isAdmin"
          class="card__buttons__action__delete"
          v-on:click="deleteArticle"
        >
          <div class="card__buttons__action__delete__icon"></div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import axios from "axios";
import Vuex from "vuex";
import User from "./User.vue";
import store from "./CurrentUserStore";
export default {
  store: store,
  name: "Article",
  components: {
    User,
  },
  data() {
    return {
      countLike: 0,
      commentCount: 0,
      userlike: false,
    };
  },
  props: {
    id: Number,
    title: String,
    imageUrl: String,
    ownerid: Number,
  },
  computed: {
    ...Vuex.mapGetters([
      "token",
      "isConnected",
      "headers_api",
      "commentsDisplayed",
      "commentsArticleId",
      "userid",
      "isAdmin",
      "serverUrl"
    ]),
    buttonsId: function () {
      return (
        "buttons" +
        this.id +
        this.countLike +
        this.commentCount +
        this.userlike.toString()
      );
    },
    altImage: function () {
      return (`image de l'article ${this.title}`)
    }
  },
  methods: {
    ...Vuex.mapActions(["showCommentsForm", "showArticleForm"]),
    getCountLikes() {
      axios.get(`${this.serverUrl}likes/score/${this.id}`)
      .then((response) => {
        this.countLike = response.data.score;
      });
    },
    getCommentCount() {
      axios
        .get(`${this.serverUrl}comments/count/${this.id}`)
        .then((response) => {
          this.commentCount = response.data.countComment;
        });
    },
    currentUserHasLiked() {
      axios
        .get(`${this.serverUrl}likes/${this.id}`, this.headers_api)
        .then((response) => {
          this.userlike = response.data.userlike;
        });
    },
    like() {
      axios
        .post(`${this.serverUrl}likes/`, { articleid: this.id }, this.headers_api)
        .then(() => {
          this.getCountLikes();
          this.userlike = true;
        })
        .catch((err) => {
          alert(err);
        });
    },
    unlike() {
      axios
        .delete(`${this.serverUrl}likes/${this.id}`, this.headers_api)
        .then(() => {
          this.getCountLikes();
          this.userlike = false;
        })
        .catch((err) => {
          alert(err);
        });
    },
    deleteArticle() {
      if (confirm("Êtes-vous sur de supprimer cet article ?")) {
        axios
          .delete(`${this.serverUrl}articles/${this.id}`, this.headers_api)
          .then((response) => {
            this.$emit("article-event", { message: response.data });
          });
      }
    },
  },
  created() {
    this.getCountLikes();
    this.getCommentCount();
    if (this.isConnected) {
      this.currentUserHasLiked();
    }
  },
};
</script>

<style>
</style>