<template>
  <div class="asform">
    <img
      src="../assets/icon-left-font-monochrome-black.svg"
      id="logo"
      alt="logo Groupomania"
    />
    <div class="asform__close" v-on:click="hideauthform" aria-label="fermer"></div>

    <div class="asform__titles">
      <h2
        v-on:click="showLoginForm"
        class="asform__titles__title"
        v-bind:class="{ asform__titles__title__selected: showLogin }"
      >
        Connexion
      </h2>
      <h2
        v-on:click="showSubscribeForm"
        class="asform__titles__title"
        v-bind:class="{ asform__titles__title__selected: !showLogin }"
         aria-label="inscription"
      >
        Inscription
      </h2>
    </div>
    <div v-if="showLogin" class="asform__section">
      <div class="asform__section__form">
        <input
          type="email"
          id="email"
          placeholder="email"
          v-model="email"
          v-bind:class="{ asform__section__error__input: hasEmailError }"
           aria-label="saisir l'e-mail"
        />
        <div v-if="hasEmailError" class="asform__section__error__msg">
          {{ emailError }}
        </div>

        <input
          type="password"
          id="password"
          placeholder="password"
          v-model="password"
          v-bind:class="{ asform__section__error__input: hasPasswordError }"
           aria-label="saisir le mot de passe"
        />
        <div v-if="hasPasswordError" class="asform__section__error__msg">
          {{ passwordError }}
        </div>
<div v-if="hasErrorMessage" class="asform__section__error__msg">
          {{ errorMessage }}
        </div>
        <button v-on:click="login"  aria-label="connexion">CONNEXION</button>
      </div>
    </div>
    <!-- inscription -->
    <div v-else class="asform__section">
      <div class="asform__section__form">
        <input
          type="email"
          id="email"
          placeholder="email"
          v-model="email"
          v-bind:class="{ asform__section__error__input: hasEmailError }"
           aria-label="saisir l'adresse e-mail"
        />
        <div v-if="hasEmailError" class="asform__section__error__msg">
          {{ emailError }}
        </div>
        <input
          type="text"
          id="username"
          placeholder="Nom d'utilisateur"
          v-model="username"
          v-bind:class="{ asform__section__error__input: hasUsernameError }"
           aria-label="saisir le nom d'utilisateur"
        />
        <div v-if="hasUsernameError" class="asform__section__error__msg">
          {{ usernameError }}
        </div>
        <input
          type="password"
          id="password"
          placeholder="Mot de passe"
          v-model="password"
          v-bind:class="{ asform__section__error__input: hasPasswordError }"
           aria-label="saisir le mot de passe"
        />
        <div v-if="hasPasswordError" class="asform__section__error__msg">
          {{ passwordError }}
        </div>
        <input
          type="password"
          id="confirm-password"
          placeholder="Mot de passe - confirmation"
          v-model="confirmPassword"
          v-bind:class="{
            asform__section__error__input: hasConfirmPasswordError,
          }"
           aria-label="répeter le mot de passe"
        />
        <div v-if="hasConfirmPasswordError" class="asform__section__error__msg">
          {{ confirmPasswordError }}
        </div>
        <div v-if="hasErrorMessage" class="asform__section__error__msg">
          {{ errorMessage }}
        </div>
        <button v-on:click="subscribe"  aria-label="inscription">INSCRIPTION</button>
      </div>
    </div>
  </div>
</template>

<script>
import Vuex from "vuex";
import axios from "axios";

import store from "./CurrentUserStore";
export default {
  store: store,
  name: "AuthSubscribeForm",
  data() {
    return {
      email: "",
      password: "",
      confirmPassword: "",
      username: "",
      errorMessage: "",
      usernameError: "",
      emailError: "",
      passwordError: "",
      confirmPasswordError: "",
    };
  },
  computed: {
    ...Vuex.mapGetters(["showLogin", "headers_api","serverUrl"]),
    hasEmailError: function () {
      return this.emailError !== "";
    },
    hasUsernameError: function () {
      return this.usernameError !== "";
    },
    hasPasswordError: function () {
      return this.passwordError !== "";
    },
    hasConfirmPasswordError: function () {
      return this.confirmPasswordError != "";
    },
    hasErrorMessage: function () {
      return this.errorMessage != "";
    },
  },
  methods: {
    ...Vuex.mapActions([
      "authentification",
      "hideauthform",
      "showLoginForm",
      "showSubscribeForm",
      "setUsername",
      "setUserid",
      "setUserrole"
    ]),
    setErrors(error) {
      console.log(error)
      // validation champs
      if (error.errors) {
        error.errors.map((error) => {
          switch (error.param) {
            case "username":
              this.usernameError =
                this.usernameError === "" ? error.msg : this.usernameError;
              break;
            case "email":
              this.emailError = this.email === "" ? error.msg : this.emailError;
              break;
            case "password":
              this.passwordError =
                this.password === "" ? error.msg : this.passwordError;
              break;
            case "confirm_password":
              this.confirmPasswordError =
                this.confirmPasswordError === ""
                  ? error.msg
                  : this.confirmPasswordError;
              break;
          }
        });
      } // erreur dans bdd
      else if (error.type === "error") {
        // traduction des erreurs mysql
        this.errorMessage = error.message
        if (/^Duplicate entry.*$/.test(error.message)) {
          this.errorMessage = this.errorMessage
            .replace("Duplicate entry", "")
            .replace(" for key ", " est déjà enregistré comme ")
            .replace("'user.email'", "adresse e-mail")
            .replace("'user.username", "nom d'utilisateur");
        }
      }
    },
    login() {
      const credentials = {
        email: this.email,
        password: this.password,
      };
      axios
        .post(`${this.serverUrl}users/login`, credentials)
        .then((response) => {
          this.authentification(response.data.token);
          this.setUserid(response.data.id);
          this.setUsername(response.data.username);
          this.setUserrole(response.data.role);
          this.hideauthform();
        })
        .catch((err) => {
          this.setErrors(err.response.data);
        });
    },
    subscribe() {
      const credentials = {
        email: this.email,
        password: this.password,
        confirm_password: this.confirmPassword,
        username: this.username,
      };
      axios
        .post(`${this.serverUrl}users`, credentials)
        .then((response) => {
          console.log(response);
          this.login();
        })
        .catch((err) => {
          this.setErrors(err.response.data);
        });
    },
  },
};
</script>

<style>
</style>