<template>
  <div class="comment__detail">
    <div class="comment__detail__author"><User :id="commentUserid" /> :</div>
    <div class="comment__detail__text" v-if="!editing" >{{ content }}</div>
    <textarea
    v-if="editing"
      name="comment__detail__text"
      class="comment__detail__text"
      rows="5"
      :id="commentid"
      v-model="updateContent"
    ></textarea>
    <div v-if="isOwner || isAdmin" class="comment__detail__button">
      <div
      v-if="!editing"
        class="comment__detail__button__icon__edit"
        v-on:click="toggleEditing"
      ></div>
      <div
      v-if="!editing"
        class="comment__detail__button__icon__delete"
        v-on:click="deleteComment"
      ></div>
      <div v-if="editing"
      class="comment__detail__button__icon__save"
      v-on:click="updateComment"></div>
      <div v-if="editing"
      class="comment__detail__button__icon__cancel"
      v-on:click="toggleEditing"
      >
    </div>
  </div>
  </div>
</template>


<script>
import axios from "axios";
import Vuex from "vuex";
import User from "./User";
import store from "./CurrentUserStore";
export default {
  store: store,
  name: "Comment",
  components: {
    User,
  },
  props: {
    commentUserid: Number,
    content: String,
    commentid: Number,
  },
  data() {
    return {
      editing: false,
      updateContent: String,
    };
  },
  computed: {
    ...Vuex.mapGetters(["userid", "isConnected", "isAdmin", "headers_api","serverUrl"]),
    isOwner: function () {
      return this.userid === this.commentUserid;
    },
  },
  methods: {
    deleteComment() {
      if (confirm("Êtes-vous sur de supprimer ce commentaire ?")) {
        axios
          .delete(`${this.serverUrl}comments/${this.commentid}`, this.headers_api)
          .then((response) => {
            this.$emit("comment-event", { message: response.data });
          });
      }
    },
    toggleEditing(){
        this.updateContent = this.content;
        this.editing = !this.editing;
    },
    updateComment() {
      axios.put(`${this.serverUrl}comments/${this.commentid}`, {content: this.updateContent}, this.headers_api)
      .then(response => {
          this.toggleEditing();
            this.$emit("comment-event", { message: response.data });
          })
    },
  },
};
</script>

<style>
</style>