<template>
  <div class="comment">
    <h2 class="comment__title">Commentaires</h2>
    <div class="comment__close" v-on:click="hideCommentsForm"  aria-label="fermer"></div>

    <div class="comment__new">
      <textarea
        name="comment__new__text"
        class="comment__new__text"
        rows="5"
        id=""
        :placeholder="newCommentPlaceHolder"
        :disabled="!isConnected"
        v-model="newComment"
         aria-label="saisir le commentaire"
      ></textarea>
      <div class="comment__new__bottom">
        <div class="comment__new__bottom__commentcount">
          Nombre de commentaires : {{ commentCount }}
        </div>
        <div
          v-if="isConnected"
          class="comment__new__bottom__button button"
          v-on:click="sendComment"
           aria-label="envoyer le commentaire"
        >
          Envoyer
        </div>
        <div v-else class="comment__new__bottom__button button__disabled">Envoyer</div>
      </div>
    </div>
    <div class="comment__container">
      <div v-for="comment in comments" :key="comment.id + commentCount">
        <Comment
          :commentid="comment.id"
          :commentUserid="comment.userid"
          :content="comment.content"
          @comment-event="loadComments"
        />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Vuex from "vuex";
import Comment from "./Comment.vue";
import store from "./CurrentUserStore";
export default {
  store: store,
  name: "CommentForm",
  components: {
    Comment,
  },
  data() {
    return {
      commentCount: 0,
      newComment: "",
      comments: [],
    };
  },
  props: {
    articleId: Number,
  },
  computed: {
    ...Vuex.mapGetters(["token", "isConnected", "headers_api", "userid","serverUrl"]),
    newCommentPlaceHolder: function () {
      return this.isConnected
        ? "Saisissez votre commentaire"
        : "Connectez-vous avant de pouvoir plublier un commentaire";
    },
  },
  methods: {
    ...Vuex.mapActions(["hideCommentsForm"]),
    getCommentCount() {
      axios
        .get(`${this.serverUrl}comments/count/${this.articleId}`)
        .then((response) => {
          this.commentCount = response.data.countComment;
        });
    },
    sendComment() {
      axios
        .post(`${this.serverUrl}comments/${this.articleId}`, { comment: this.newComment }, this.headers_api)
        .then(() => {
          this.newComment = "";
          this.loadComments();
        });
    },
    getComments() {
        axios
          .get(`${this.serverUrl}comments/${this.articleId}`)
          .then((response) => {
            this.comments = [...response.data];
          });
      
    },
    loadComments() {
      this.getCommentCount();
      this.getComments();
      this.$emit("comment-event", { message: "reload" });
    },
  },
  created() {
    this.getCommentCount();
    this.getComments();
  },
};
</script>

<style>
</style>