<template>
  <header>
    <div class="head-container">
      <img
        class="head-container__logo"
        src="../assets/icon-left-font-monochrome-black.svg"
        id="logo"
        alt="logo Groupomania"
      />
      <h1 class="head-container__title">G-GAG</h1>
      <div class="head-container__buttons" v-if="isConnected">
        <div v-if="isAdmin" class="head-container__connected__icon__admin" ></div>
        <div v-else class="head-container__connected__icon__user"></div>
        <div class="head-container__connected__username label__username">
          {{ username }}
        </div>
        <div
          class="head-container__connected__signout button"
          v-on:click="disconnect"
           aria-label="déconnexion"
        >
          Deconnexion
        </div>
      </div>
      <div class="head-container__buttons" v-else>
        <div
          class="head-container__buttons__login button"
          v-on:click="showLoginForm"
           aria-label="connexion"
        >
          Connexion
        </div>
        <div
          class="head-container__buttons__signup button"
          v-on:click="showSubscribeForm"
           aria-label="inscription"
        >
          Inscription
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Vuex from "vuex";
import store from "./CurrentUserStore";
import axios from "axios";
export default {
  store: store,
  name: "Header",
  computed: {
    ...Vuex.mapGetters(["username", "isConnected", "headers_api","serverUrl","isAdmin"]),
  },
  methods: {
    ...Vuex.mapActions([
      "showLoginForm",
      "showSubscribeForm",
      "disconnect",
      "authentification",
      "setUsername",
      "setUserrole",
      "setUserid",
    ]),
    getToken() {
      const username = localStorage.getItem("username");
      if (username !== null){
        this.setUsername(username)
      }
      const token = localStorage.getItem("token");
      if (token !== null) {
        this.authentification(token);
        axios
          .get(`${this.serverUrl}users/whoami`, this.headers_api)
          .then((response) => {
            this.setUsername(response.data.username);
            this.setUserrole(response.data.role);
            this.setUserid(response.data.id);
          })
          .catch(()=>{
            this.disconnect()
            });
      }
    },
  },
  created() {
    this.getToken();
  },
};
</script>

<style>
</style>