<template>
  <div v-if="isConnected" class="titlebar">
          <div class="titlebar__newarticle" v-on:click="showArticleForm">
            <div class="titlebar__newarticle__icon"></div>
            <div class="titlebar__newarticle__text">Créer un article</div>
          </div>
        </div>
</template>

<script>
import Vuex from "vuex";
import store from "./CurrentUserStore";

export default {
      store: store,

    name: 'TitleBar',
      computed: {
    ...Vuex.mapGetters([
      "isConnected",])},
    methods: {
    ...Vuex.mapActions(["showArticleForm"]),
    },
}
</script>

<style>

</style>