<template>
  <span>{{ name }}</span>
</template>

<script>
import axios from "axios";
import Vuex from "vuex";
import store from "./CurrentUserStore";
export default {
  store: store,
  name: "User",
  data() {
    return {
      name: "",
    };
  },
  computed: {
    ...Vuex.mapGetters(["serverUrl"]),
  },
  props: {
    id: Number,
  },
  methods: {
    getName() {
      axios.get(`${this.serverUrl}users/whois/${this.id}`).then((reponse) => {
        this.name = reponse.data.username;
      });
    },
  },
  created() {
    this.getName();
  },
};
</script>

<style>
</style>