@import "utils/variables";
@import "base/reset";
@import "layout/header";
@import "layout/navbar";
@import "layout/footer";
@import "pages/app";
@import "composants/card";
@import "composants/button";
@import "composants/label";
@import "composants/comment";
@import "composants/titlebar";
@import "composants/authsubscribeform";
@import "composants/newarticleForm";
@import "vendors/fontawesome/scss/fontawesome.scss";
@import "vendors/fontawesome/scss/solid.scss";



body{
    font-family: $ufont;
    font-weight: 300;
}

h1{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

h2, h3{
    text-transform: capitalize;
}

h2{
    font-weight: 500;
    font-size: 1.5rem;
}

h3{
    font-weight: 400;
    font-size: 1rem;
}   
