@import "../composants/icons";

header{
        padding: 0.5rem 0.5rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid darkgrey;
        .head-container{
            display: grid;
            gap: 1em;
            grid-template-columns: 160px auto 320px;
            grid-template-areas: "logo title buttons";
            @media screen and(max-width:650px) {
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
                grid-template-areas: "logo title" "buttons buttons";
            }
            max-width: 1024px;
            margin: auto;
            &__logo{
                height: 100%;
                max-height: 40px;
                grid-area: logo;
            }
            &__title{
                grid-area: title;
            }
            &__buttons{
                grid-area: buttons;
                display: flex;
                justify-content: space-around;
                width: 100%;
                &__login{
                    grid-area: login;
                }   
                &__signup{
                    grid-area: signup;
                }
            }
            &__connected{
                &__icon{
                    &__user{
                        @include user;
                        margin-top: 0.5rem;
                    }
                    &__admin{
                        @include admin;
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }