.navbar{
    &__title{
        text-transform: uppercase;
        font-weight: 500;
        margin: 0px 1rem 1rem 0px;
        opacity: 0.5;
        font-size: 0.9rem;
    }
    & ul{
        & li{
            padding: 0.5em 0px;
            &:hover{
                background-color: rgb(241, 239, 239);
                font-weight: 400;
                cursor: pointer;
            }
        }
    }
}