#app{
    max-width: 1024px;
    margin: auto;
    display: grid;
    
        grid-template-columns: 100%;
        grid-template-areas :"articles";
    
}

.more{
    margin: 0rem auto 1rem auto;
}



section{
    grid-area: articles;
}