@import "icons";

.asform{
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
    position: fixed;
    background-color: $background-element;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &__close{
        @include close;
    }
    &__titles{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        &__title{
            text-align: center;
            text-transform: uppercase;
            margin: 1rem;
            width: 100%;
            padding: 0.3rem;
            border-bottom: 2px solid $background-element;
            transition: all 0.3s ease-in-out;
            &:hover{
                cursor: pointer;
                border-bottom: 2px solid black;
            }
            &__selected{
                border-bottom: 2px solid black;
            }
            
        }
    }
    &__section{
        width: 100%;
        margin: auto;
        &__form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            input, button{
                font-size: 1rem;
                padding: 0.5rem 1rem;
            }
        }
        &__error{
            &__input{
                color: $error-color;
                border: 1px solid $error-color;
            }
            &__msg{
                color: $error-color;
            }
        }
    }
}