@mixin button-pattern {
    border: solid 1px lightgrey;
    line-height: 2.5em;
    text-align: center;
    max-width: 150px;
    padding: 0px 20px;
}

.button{
    @include button-pattern;
    &:hover{
        cursor: pointer;
        font-weight: 500;
    }
    &__disabled{
        @include button-pattern;
        opacity: 80%;
        &:hover{
            cursor:not-allowed;
        }
    }
}