@import "icons";

@mixin bottom_img{
  display: flex;
    flex-direction: row;
    justify-content: left;
    font-weight: 400;
    font-size: 1em;
    gap: 1rem;
  }
  
  @mixin card_button {
    display: flex;
    gap: 0.5rem;
    opacity: 70%;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem;
    border: 1px solid black;
}

@mixin card_button_hover {
  @include card_button;
  &:hover {
    cursor: pointer;
    opacity: 100%;
  }
}

@mixin disabled {
  opacity: 50%;
  transition: none;
  &:hover {
    cursor: not-allowed;
    opacity: 50%;
  }
}

.card {
  padding: 0rem 1rem 2rem 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  &__author {
    opacity: 50%;
  }
  &__image {
    margin: 1rem 0px;
    background-color: #f4f4f4;
    text-align: center;
    &__img {
      max-width: 100%;
      height: 60vh;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    &__social{
    @include bottom_img;
    &__like {
      @include card_button_hover;
      &__icon {
        @include like;
      }
      &__disabled {
        @include card_button;
        @include disabled;
        &__icon {
          @include like;
        }
      }
    }
    &__liked {
      @include card_button;
      background-color: $background-icon;
      opacity: 100%;
      color: $liked-color;
      &__icon {
        @include plain-like;
      }
      &:hover {
        opacity: 70%;
      }
    }
    &__comment {
      @include card_button_hover;
      &__icon {
        @include comment;
      }
      &__disabled {
        @include card_button;
        @include disabled;
        &__icon {
          @include comment;
        }
      }
    }
  }
  &__action{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    &__change{
      @include card_button;
      &__icon{
@include edit;
      }
    }
    &__delete{
      @include card_button;
      &__icon{
@include delete;
      }
    }
  }
  }
}
