@import "icons";

.comment {
  border: 1px solid grey;
  background-color: $background-element;
  width: 90vw;
  max-width: 1024px;
  padding-top: 1em;
  height: 90vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: grid;
  grid-template-rows: 30px 180px auto;
  grid-template-areas: "title" "new-comment" "comment-list";

  &__close {
    @include close;
  }
  &__title {
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
  }
  &__new {
    grid-area: new-comment;
    width: 99%;
    margin: auto;
    margin-top: 1em;
    border-bottom: 1px solid grey;

    &__text {
      width: 97%;
      resize: none;
      margin: 0em 1em;
       padding: 0.5em;
    }
    &__bottom {
      display: flex;
      justify-content: space-around;
      padding: 0px 1em;
      &__commentcount {
        line-height: 4em;
      }
      &__button {
        margin: 0.5em 0em 1em auto;
      }
    }
  }
  &__container {
    grid-area: comment-list;
    overflow-y: scroll;
    margin-bottom: 1em;
  }
  &__detail {
    width: 97%;
    margin: 1em auto;
    display: grid;
    gap: 5px 10px;
    grid-template-columns: auto 50px;
    grid-template-areas: "comment-author comment-author" "comment-text comment-buttons";
    &__author {
      grid-area: comment-author;
      font-size: large;
      font-weight: 500;
    }
    &__text {
      grid-area: comment-text;
      width: 100%;
      max-width: 100%;
      word-break: break-all;
      border: 1px solid lightgrey;
      background-color: white;
      padding: 0.5em;
    }
    &__button {
      grid-area: comment-buttons;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1em;
      &__icon {
        &__edit {
          margin: auto;
          @include edit;
        }
        &__delete {
          margin: auto;
          @include delete;
        }
        &__save {
          margin: auto;
          @include save;
        }
        &__cancel {
          margin: auto;
          @include cancel;
        }
      }
    }
  }
}
