@import "../vendors/fontawesome/scss/fontawesome.scss";
@import "../vendors/fontawesome/scss/solid.scss";
@import "../vendors/fontawesome/scss/regular.scss";

@mixin icon {
    transition: all 0.3s ease-in-out;
    &:hover{
        cursor: pointer;
        opacity: 100%;
    }
}

@mixin regular-icon{
    @include icon;
    @extend %fa-icon;
    font-size: $icon-size;
    @extend .far; 
}

@mixin solid-icon {
    @include icon;
    @extend %fa-icon;
    font-size: $icon-size;
    @extend .fas; 
}

@mixin like{
    @include regular-icon;
    &:before {
        content: fa-content($fa-var-thumbs-up);
    }
}

@mixin plain-like{
    @include solid-icon;
    &:before {
        content: fa-content($fa-var-thumbs-up);
    }
}

@mixin edit{
    @include regular-icon;
    opacity: 60%;
    &:before {
        content: fa-content($fa-var-edit);
    }
    
}

@mixin delete{
    @include regular-icon;
    opacity: 60%;
    transition: all 0.3s ease-in-out;
    &:before {
        content: fa-content($fa-var-trash-alt);
    }
    &:hover{
        color: red;
    }
}

@mixin close{
    @include regular-icon;
    color: red;
        opacity: 70%;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: all 0.3s ease-in-out;
    &:before {
        content: fa-content($fa-var-window-close);
    }
}

@mixin comment{
    @include regular-icon;
    &:before {
        content: fa-content($fa-var-comments);
    }
}

@mixin plain-comment{
    @include solid-icon;
    &:before {
        content: fa-content($fa-var-comments);
    }
}

@mixin save{
    @include regular-icon;
    opacity: 70%;
    &:before {
        content: fa-content($fa-var-save);
    }
}

@mixin cancel{
    @include solid-icon;
    opacity: 70%;
    &:before {
        content: fa-content($fa-var-undo-alt);
    }
}

@mixin add{
    @include solid-icon;
    opacity: 100%;
    &:before {
        content: fa-content($fa-var-folder-plus);
    }
}

@mixin user{
    @include solid-icon;
    &:before {
        content: fa-content($fa-var-user);
    }
}

@mixin admin{
    @include solid-icon;
    &:before {
        content: fa-content($fa-var-user-cog);
    }
}