@import "icons";

.articleform{
    border: 1px solid grey;
    background-color: $background-element;
    width: 90vw;
    max-width: 500px;
    padding-top: 1em;
    height: 90vh;
    max-height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &__close{
        @include close;
    }
    &__title {
        grid-area: title;
        text-align: center;
        text-transform: uppercase;
      }
    &__form{
        margin: 1rem;
        &__title{
            &__label, &__input{
                display: block;
                margin: auto;
            }
            &__label{
                text-align: center;
                font-weight: 400;
                font-size: large;
            }
            &__input{
                width: 100%;
                max-width: 400px;
                padding: 0.3em 1em;
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
        &__file{
            &__label{
                display: block;
                margin: auto;
                text-align: center;
                font-weight: 400;
                font-size: large;
            }
            &__input{
                text-align: center;
                width: 100%;
                max-width: 400px;
                padding: 0.3em 1em;
                margin: 0.3em auto;
                display: block;
            }
        }
        &__imagePreview {
            width: 250px;
            height: 250px;
            display: block;
            margin: 0.3em auto;
            background-size: cover;
            background-position: center center;
            border: solid 1px grey;
          }
          &__send{
              margin: auto;
          }
          &__categories{
            &__label{
                display: block;
                margin: auto;
                text-align: center;
                font-weight: 400;
                font-size: large;
            }
            &__select{
                display: block;
                text-align: center;
                margin: 1em auto;
            }
          }
    }
}