@import "button";
@import "icons";

.titlebar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__newarticle{
        display: flex;
        flex-direction: row;
        opacity: 70%;
        &__icon{
            @include add;
            font-size:xx-large;
        }
        &__text{
            font-size: larger;
            line-height: 2em;
            padding: 0px 0.5em;
        }
        &:hover{
            cursor: pointer;
            opacity: 100%
        }
    }
}