<template>
  <div>
    <auth-subscribe-form v-if="authFormDisplayed" />
    <Header />
    <div id="app">
      <div id="container">
        <CommentForm
          v-if="commentsDisplayed"
          :articleId="commentsArticleId"
          @comment-event="loadArticles"
        />
        <ArticleForm v-if="articleDisplayed" @article-event="loadArticles" />
        <TitleBar />
        <div v-for="article in articles" :key="article.id + currDate">
          <Article
            :id="article.id"
            :title="article.title"
            :imageUrl="article.imageUrl"
            :ownerid="article.userid"
            @article-event="loadArticles"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vuex from "vuex";
import axios from "axios";
import Article from "./components/Article.vue";
import CommentForm from "./components/CommentForm.vue";
import AuthSubscribeForm from "./components/AuthSubscribeForm.vue";
import store from "./components/CurrentUserStore";
import Header from "./components/Header.vue";
import ArticleForm from "./components/ArticleForm.vue";
import TitleBar from "./components/TitleBar.vue";
export default {
  store: store,
  name: "App",
  components: {
    Article,
    AuthSubscribeForm,
    Header,
    CommentForm,
    ArticleForm,
    TitleBar,
  },
  data() {
    return {
      articles: [],
      currDate: 0,
    };
  },
  computed: {
    ...Vuex.mapGetters([
      "isConnected",
      "authFormDisplayed",
      "username",
      "commentsDisplayed",
      "commentsArticleId",
      "articleDisplayed",
      "serverUrl",
    ]),
  },
  methods: {
    ...Vuex.mapActions(["setServerUrl", "showLoginForm"]),
    loadArticles() {
      this.currDate = new Date().valueOf();
      axios.get(`${this.serverUrl}articles`).then((reponse) => {
        this.articles = reponse.data;
        if (this.articles.length === 0 && !this.isConnected){
          this.showLoginForm();
        }
      });
    },
  },
  created() {
    this.setServerUrl(process.env.VUE_APP_SRVURL);
    this.loadArticles();
  },
};
</script>

<style lang="scss">
@import "./sass/main.scss";
</style>
