@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
$ufont: 'Ubuntu', sans-serif;
$background-element: #F4F4F4;
$liked-color: #004CA3;
$icon-size: 1.2em;
$background-icon: #F0F7FF;
$error-color: red;